body {
}

.wrapper {
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px;
  height: 96px;
  background-color: #042ee3;
  color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
}

header a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

header h1 > a {
  font-size: 32px;
}

header ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 96px;
}

main .banner {
  height: 1000px;
  background-color: #cccccc;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .banner h1 {
  font-size: 166px;
}
main .banner h3 {
  font-size: 24px;
}

main .about {
  display: flex;
  height: 700px;
}

main .about .about-text {
  padding: 120px 40px;
  width: 100%;
  background-color: #f6f6f6;
}
main .about .about-text h4 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 32px;
}
main .about .about-text span {
  font-size: 24px;
}
main .about .about-text ul li {
  margin-left: 32px;
}
main .about .about-image {
  background-color: goldenrod;
  width: 100%;
}
main .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
main .team,
main .reason,
main .commit,
main .subject,
main .download,
main .contact {
  padding: 80px 0;
  text-align: center;
}
main .reason {
  background-color: #bde9fb;
}
main h3 {
  font-size: 46px;
  margin-bottom: 80px;
}
main .commit h3 {
  margin-bottom: 0;
}
main .container .list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 160px;
}
main .container .list .item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 240px;
  gap: 24px;
  align-self: stretch;
  font-size: 24px;
}

main .container .list .item .img {
  width: 200px;
  height: 200px;
  border-radius: 100rem;
  background-color: grey;
}
main .container .list .item .icon {
  width: 50px;
  height: 50px;
}
.italic {
  font-style: italic !important;
}
.bold {
  font-weight: 700 !important;
}

main .commit {
  background-color: #6d97a2;
  color: white;
}
main .commit .container {
  padding: 0 80px;
  font-weight: 700;
}

main .commit p {
  font-size: 20px;
  margin-top: 16px;
}
main .commit p:first-of-type {
  word-spacing: 4px;
}

main .subject {
  background-color: #1d67cd;
  color: white;
}

main .subject .action {
  margin-top: 16px;
}
main .subject .action button {
  padding: 16px 32px;
  border-radius: 24px;
  background-color: #bde9fb;
  border: none;
  word-spacing: 4px;
  font-size: 20px;
}

main .subject .action button:hover {
  background-color: #1d67cd;
  color: white;
  border: 1px solid white;
  font-size: 18px;
}

main .download .channel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
main .download .channel .action {
  display: flex;
  gap: 16px;
}
main .download .channel h3 {
  margin-bottom: 16px;
}
main .download .preview > div {
  height: 500px;
  width: 300px;
  background-color: grey;
}

main .contact {
  border-top: 2px solid blue;
  background-color: whitesmoke;
  padding-bottom: 40px;
}

main .contact .contact-list {
  display: flex;
  gap: 160px;
}

main .contact .contact-left {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 16px;
  font-size: 24px;
}
main .contact .contact-left > p:last-of-type {
  width: max-content;
  background-color: black;
  color: white;
  margin-left: 54px;
}
main .contact .contact-left .img {
  display: flex;
  gap: 16px;
  margin-left: 54px;
}
main .contact .contact-item {
  width: 50%;
}
main .contact .contact-right {
  width: 100%;
  background-color: #fff;
  padding: 48px 40px;
  text-align: left;
  color: #522662;
}
main .contact .contact-right .input {
  margin-top: 32px;
}
main .contact .contact-right .input label,
main .contact .contact-right .input input {
  display: block;
  margin-bottom: 4px;
}
main .contact .contact-right .input input {
  margin-bottom: 16px;
  width: 100%;
  padding: 10px;
  background-color: #ffde5f;
  border: none;
}
main .contact .contact-right .input input:focus {
  background-color: #ffe88f;
}
main .contact .contact-right h4 {
  font-size: 36px;
}
main .contact .contact-right .action button {
  margin-top: 32px;
  padding: 24px 64px;
  border: none;
  font-size: 20px;
  background-color: #522662;
  color: white;
}
main .contact .contact-right .action button:hover {
  background-color: #866791;
}
